@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('./Fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

:root {
  --background-color: #ebebeb;
  --primary-color: #3900bf;
  --text-color: #e9e9e9;
  --secondary-color: #a8c064;
  --third-color: #c6ff40;
  --dark-text: #f1f1f1;
  --inverted: #000;
}

/* GENERAL */
html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center; 
  font-family: 'Poppins';
  overflow-x: hidden;
  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: absolute;
  z-index: 999;
  width: 30px;
  height: 30px;
  background-color: var(--third-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
}

/* Header */
header{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
  height: 5vh;
  overflow: hidden;
  position: fixed;
  z-index: 9;
  mix-blend-mode: exclusion;
  color: var(--dark-text);
}

.header-logo-area{
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 100%;
}

.header-logo-area img{
  height: 45px;
}

.header-menu-area{
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  height: 40%;
  width: 100%;
}

.header-menu-area a{
  font-family: 'Poppins-Light';
  margin: 0px 5px 0px 5px;
  font-size: 10pt;
  text-decoration: none;
  border-radius: 10px;
  width: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 35px 5px 35px;
  transition: 0.5s all ease;
  color: var(--text-color);
  letter-spacing: 2px;
}

.header-menu-area a:hover{
  letter-spacing: 4px;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.menu-contact{
  background-color: var(--background-color);
  color: var(--inverted) !important;
}

.menu-contact:hover{
  background-color: var(--primary-color) !important;
  color: var(--dark-text) !important;
}

.header-menu-area img{
  height: 15pt;
  margin-left: 15%;
  border-radius: 100%;
  transition: all 0.5s ease;
}

.home-button:hover img {
  opacity: 0.75;
}

/* Welcome */
.welcome-container{
  color: var(--text-color);
  height: 100vh;
}

.welcome-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1;
  width: 80%;
  height: 50%;
  margin-left: 2.5%;
  margin-top: 22.5%;
  mix-blend-mode: exclusion;
}

.welcome-text h1{
  font-family: 'Poppins-Bold';
  font-size: 110pt;
  margin: 0;
  letter-spacing: -2px;
  line-height: 100pt;
  cursor: default;
}

.welcome-text h3{
  font-family: 'Poppins-Thin';
  font-size: 24pt;
  letter-spacing: 3px;
  margin: 5px 0 0 0;
  cursor: default;
}

.welcome-text a{
  font-family: 'Poppins-Thin';
  font-size: 15pt;
  letter-spacing: 1px;
  padding: 0;
  margin-top: 15px;
  border-radius: 10px;
  color: var(--background-color);
  transition: all 0.5s ease;
}

.welcome-text a:hover{
  background-color: var(--primary-color);
  font-family: 'Poppins';
  color: var(--text-color);
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  font-size: 15pt;
  letter-spacing: 3px;
}

.welcome-graphs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.welcome-graphs img{
  width: 120%;
  margin-top: -10%;
  mix-blend-mode: difference;
}

.welcome-drone{
  transition: transform 1s ease-out; 
}

/* Met Me */
.met-me{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 10%;
  background-image: url(./Media/Graphics/Me3.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: bottom; 
}

.my-words{
  width: 50%;
  color: var(--text-color);
  mix-blend-mode: exclusion;
}

.my-words h1{
  font-family: 'Poppins-Bold';
  font-size: 40pt;
  letter-spacing: 2px;
}

.my-words p{
  font-family: 'Poppins-Light';
  font-size: 14pt;
  letter-spacing: 2px;
}

/* Main Goals*/
.main-goals{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding-right: 10%;
}

.my-main-goal{
  text-align: right;
  mix-blend-mode: exclusion;
}

.my-main-goal a{
  background-color: var(--primary-color);
  font-size: 15pt;
  padding: 15px 50px 15px 50px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.5s ease;
}

.my-main-goal  a:hover{
  background-color: var(--third-color);
  color: var(--text-color);
}

.my-main-goal h1{
  font-family: 'Poppins-Bold';
  font-size: 40pt;
  letter-spacing: 2px;
}

.my-main-goal h3{
  font-family: 'Poppins-Light';
  font-size: 14pt;
  font-weight: 100;
}

/* Skills */


