@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('./Fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

:root {
  --background-color: #222222;
  --primary-color: #c6ff40;
  --text-color: #f3f5ed;
  --secondary-color: #a8c064;
  --third-color: #032de7;
}

/* GENERAL */

body{
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  background-image: url(./Media/Graphics/dust.jpg);
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center; 
  font-family: 'Poppins';
  overflow-x: hidden;
  color: var(--text-color);
}


/* Header */
header{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0%;
  padding-top: 15px;
  overflow: hidden;
  position: fixed;
  mix-blend-mode: exclusion;
  z-index: 9;
}

.header-logo-area{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.header-logo-area img{
  height: 60px;
}

.header-menu-area{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
}

.header-menu-area a{
  margin: 0px 5px 0px 5px;
  font-size: 15pt;
  text-decoration: none;
  border-radius: 25px;
  width: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 25px 5px 25px;
  transition: 0.5s all ease;
  color: var(--text-color);
}

.header-menu-area a:hover{
  background-color: var(--third-color);
}

.header-menu-area img{
  height: 15pt;
  margin-left: 15%;
  border-radius: 100%;
}

/* Welcome */
.welcome-container{
  color: var(--text-color);
  height: 90vh;
  padding-top: 10vh;
}

.welcome-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1;
  width: 80%;
  height: 70%;
  margin-left: 10%;
  mix-blend-mode: exclusion;
}

.welcome-text h1{
  font-family: 'Poppins-Bold';
  font-size: 70pt;
  margin: 0;
  letter-spacing: 4px;
}

.welcome-text h3{
  font-size: 25pt;
  margin: 5px 0 0 0;
  letter-spacing: 2px;
}

.welcome-text a{
  background-color: var(--primary-color);
  font-size: 15pt;
  padding: 15px 50px 15px 50px;
  margin-top: 15px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.5s ease;
}

.welcome-text a:hover{
  background-color: var(--third-color);
  color: var(--text-color);
}

.welcome-graphs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.welcome-graphs img{
  width: 65%;
  margin-top: -2.5%;
}

/* Met Me */
.met-me{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 10%;
  background-image: url(./Media/Graphics/Me3.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: bottom; 
}

.my-words{
  width: 50%;
  color: var(--text-color);
  mix-blend-mode: exclusion;
}

.my-words h1{
  font-family: 'Poppins-Bold';
  font-size: 40pt;
  letter-spacing: 2px;
}

.my-words p{
  font-family: 'Poppins-Light';
  font-size: 14pt;
  letter-spacing: 2px;
}

/* Main Goals*/
.main-goals{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding-right: 10%;
}

.my-main-goal{
  text-align: right;
  mix-blend-mode: exclusion;
}

.my-main-goal a{
  background-color: var(--primary-color);
  font-size: 15pt;
  padding: 15px 50px 15px 50px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.5s ease;
}

.my-main-goal  a:hover{
  background-color: var(--third-color);
  color: var(--text-color);
}

.my-main-goal h1{
  font-family: 'Poppins-Bold';
  font-size: 40pt;
  letter-spacing: 2px;
}

.my-main-goal h3{
  font-family: 'Poppins-Light';
  font-size: 14pt;
  font-weight: 100;
}